@import "./themes/mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

#waybar {
  background: rgba(24, 24, 27, 0.6);
  color: @text;
  margin: 0;
  padding: 0;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-gpu,
.modules-center
{
  background-color: @surface0;
  padding: 0.3rem 0.7rem;
  margin: 5px 0;
}

#custom-wayves {
  background-color: @surface0;
  padding: 0.3rem 0.7rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0px 0px 0px 0px;
  margin-left: 0px;
}

.modules-center {
  color: @mauve;
  border-radius: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 0px 1rem 1rem 0px;
  
  margin-right: 1rem;
  /*border-radius: 1rem;*/
}

#custom-lock {
    border-radius: 1rem 1rem 1rem 1rem;
    margin-right: 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#custom-gpu {
   color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem; 
}

#custom-wayves{
    border-radius: 1rem 1rem 1rem 1rem;
    margin-right: 1rem;
    color: @lavender;
}

